* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

/* login page style */

#login-container {
    background-color: #F2F2F2;
    padding-top: 70px;
    padding-bottom: 70px;
}

#login-form-container {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 5px 21px -3px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 5px 21px -3px rgba(0, 0, 0, 0);
}

#login-form-container #login-form-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    padding-top: 50px;
}

#login-form-container #login-form-container-header img {
    height: 130px;
}
#login-form-container #login-form-container-content{
    padding-top: 50px;
}
#login-form-container #login-form-container-content button {
    width: 95%;
  
    border-radius: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}